<!DOCTYPE html>
<html>
  <head>
    <title>ENGINEER</title>
  </head>
  <body>
    <h1>ENGINEER</h1>
    <hr>
    <h2>Data Engineer</h2>
      <tr>
        <th>Id</th>
        <th>Nama</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
      <% data.forEach(row => { %>
      <tr>
        <td><%=row.id%></td>
        <td><%=row.nama%></td>
        <td><%=row.email%></td>
        <td></td>
        <td>
          <a href="/supervisor/update/<%=row.id%>">EDIT</a> |
          <a href="/supervisor/delete/<%=row.id%>">DELETE</a> |
        </td>
      </tr>
      <% }) %>
    </table>
    <hr>
    <h2>Add New Engineer</h2>
    <form class="" action="/engineer" method="POST">
      <input type="text" name="nama" value="" placeholder="nama">
      <input type="text" name="email" value="" placeholder="email">
      <input type="submit" value="SAVE">
    </form>
  </body>
</html>
