<!DOCTYPE html>
<html>
  <head>
    <title>PROJECT</title>
  </head>
  <body>
    <h1>PROJECT</h1>
      <hr>
      <h2>Data Project</h2>
        <tr>
          <th>Id</th>

          <th>Action</th>
        </tr>
        <% data_supervisor.forEach(row => { %>
        <tr>
          <td><%=row.id%></td>

          <td>
            <a href="/supervisor/edit/<%=row.id%>">EDIT</a>
            <a href="/supervisor/delete/<%=row.id%>">DELETE</a>
          </td>
        </tr>
        <% }) %>
        </table>
      <hr>
      <h2>Add New Supervisor</h2>
      <form class="" action="/project" method="POST">
        <input type="text" name="nama" value="" placeholder="nama">

        <select class="" name="supervisor_id">
          <% data_supervisor.forEach(row => { %>
          <option value="<%=row.id%>"><%=row.nama%></option>
          <% }) %>
        </select>
        <input type="submit" value="SAVE">
      </form>
    </body>
</html>
